includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - packages/suite/src
        - packages/core/src
        - packages/core/tests/Fixtures
        - packages/currency/src
    level: 5
    ignoreErrors: []
